# Core Data Science
pandas==2.2.2
numpy==1.26.4
scipy==1.13.1

# Visualization
matplotlib==3.9.0
seaborn==0.13.2
plotly==5.22.0

# Machine Learning
scikit-learn==1.5.0
xgboost==2.0.3
lightgbm==4.3.0

# Imbalanced Data
imbalanced-learn==0.12.3

# Dashboard
streamlit==1.35.0

# Explainability
shap==0.45.1

# Notebook
jupyter==1.0.0
notebook==7.2.0

# Utilities
openpyxl==3.1.5
python-dateutil==2.9.0
tqdm==4.66.4
joblib==1.4.2
pyyaml==6.0.1

# Optional Advanced
torch==2.3.1


# Install Everything
# run in terminal 
# pip install -r requirements.txt